body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.drawer-heading {
  text-align: center;
}

.no-posts {
  text-align: center;
  font-style: italic;
  margin-top: 3em;
}

.post {
  margin: 1em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 1em;
  display: flex;
  padding-left: 0px;
}

.post-title {
  font-size: x-large;
}

.post-details {
  font-weight: lighter;
  font-size: smaller;
  color: grey;
}

.comments-button {
    font-size: smaller;
    font-weight: bold;
}

.votes {
  margin-right: 0.5em;
  position: relative;
  top: -7px;
  text-align: center;
  min-width: 3em;
  align-self: center;
}

.voteButton {
  padding: 0.2em;
  max-height: 20px;
  overflow: hidden;
}

.voteButton img:hover {
  cursor: pointer;
}

.downvote {
  position: relative;
  bottom: 25px;
}

.voteScore {
  color: #9e9e9e;
  font-weight: bold;
  font-size: larger;
}

.loading {
  display: block;
  text-align: center;
  padding: 5em;
}

.sort-text {
  font-style: normal;
  font-size: small;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  padding: 5px;
}

.sort-text:hover {
  cursor: pointer;
}

.sort-menu-item {
  font-size: small !important;
  min-height: 35px !important;
  line-height: 35px !important;
}

.welcome-to-sub {
  font-size: xx-large;
  color: #757575;
}

.sort {
  color: #757575;
  font-size: x-large
}

.welcome {
  padding: 1em;
}

vr {
  border-right: 1px solid black;
  margin: 0px 10px;
  font-size: xx-large
}
